repos:
      - repo: https://github.com/timothycrosley/isort
        rev: 4.3.21
        hooks:
              - id: isort
      - repo: https://github.com/ambv/black
        rev: stable
        hooks:
              - id: black
      - repo: https://gitlab.com/pycqa/flake8
        rev: 3.8.1
        hooks:
              - id: flake8
