# packages necessary to run tests and push PRs
# assumes requirements for nvtabular logic are already installed

black==20.8b1
flake8==3.8.4
isort==5.6.4
nbsphinx>=0.6
pylint==2.7.4
bandit==1.7.0
black-nb==0.4.0
flake8-nb==0.2.7
pytest>=5
pytest-cov
pytest-xdist
recommonmark>=0.6
Sphinx>=3
sphinx_markdown_tables
sphinx-multiversion
moto
boto3
s3fs
git+https://github.com/rapidsai/asvdb.git
sphinx_rtd_theme
scikit-learn
graphviz
# needed for test_s3
flask
flask_cors
sklearn