name: GPU CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "pull-request/[0-9]+"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  gpu-ci:
    runs-on: linux-amd64-gpu-p100-latest-1
    container:
      image: nvcr.io/nvstaging/merlin/merlin-ci-runner:latest
      env:
        NVIDIA_VISIBLE_DEVICES: ${{ env.NVIDIA_VISIBLE_DEVICES }}
      options: --shm-size=1G
      credentials:
        username: $oauthtoken
        password: ${{ secrets.NGC_TOKEN }}


    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run tests
        run: |
          ref_type=${{ github.ref_type }}
          branch=main
          if [[ $ref_type == "tag"* ]]
          then
            raw=$(git branch -r --contains ${{ github.ref_name }})
            branch=${raw/origin\/}
          fi
          tox -e test-gpu -- $branch
